<%- include("../partial/userHeader") %>

<head>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/0.5.0/medium-zoom.min.js"></script>


</head>

<style>
    .home-slider {
        overflow: hidden; /* Hide any content that overflows the container */
    }

    .swiper-container {
        max-width: 100%; /* Limit the maximum width to 100% of the parent container */
        overflow: hidden; /* Hide any content that overflows the container */
    }

    .swiper-wrapper {
        display: flex; /* Ensure the wrapper items are displayed in a row */
    }

    .swiper-slide {
        width: 100%; /* Make each slide take up the full width of the container */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
</style>


    <main class="main">
    
<section class="home-slider position-relative pt-70 pb-50">
    <div class="swiper-container">
       
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>






        <section class="popular-categories section-padding mt-15 mb-25">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
                <section class="categories-section section-padding">
                    <style>
                        .category-card {
                            display: inline-block;
                            margin-right: 10px; /* Adjust margin as needed */
                            border: none; /* Remove border */
                        }
                        .category-card .card {
                            border: none; /* Remove border from the card */
                        }
                    </style>
                  
                    <div class="container-fluid"> <!-- Use container-fluid to span the entire width -->
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <% categoryNames.forEach(name => { %>
                                <div class="category-card">
                                    <div class="card card-1">
                                        <h5><%= name %></h5>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </section>
                
                
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows">
                    </div>
                    <div class="carausel-6-columns" id="carausel-6-columns">
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <img
                                        src="assets/imgs/category/category1.webp" alt="">
                            </figure>
                            <!-- <h5><a href="products-grid-right.html">T-Shirt</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <img
                                        src="assets/imgs/category/category2.webp" alt="">
                            </figure>
                            <!-- <h5><a href="products-grid-right.html">Bags</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <img
                                        src="assets/imgs/category/category4.webp" alt="">
                            </figure>
                            <!-- <h5><a href="products-grid-right.html">Sandan</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <img
                                        src="assets/imgs/category/category3.webp" alt="">
                            </figure>
                            <!-- <h5><a href="products-grid-right.html">Scarf Cap</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                               <img
                                        src="assets/imgs/category/category5.webp" alt="">
                            </figure>
                            <!-- <h5><a href="products-grid-right.html">Shoes</a></h5> -->
                        </div>
                        <div class="card-1">
                            <figure class=" img-hover-scale overflow-hidden">
                                <img
                                        src="assets/imgs/category/category6.webp" alt="">
                            </figure>
                            <!-- <h5><a href="products-grid-right.html">Pillowcase</a></h5> -->

                        </div>
                    </div>
                </div>
        </section>

  

   
       
             
           <!-- Featured, Popular, Newly Added ---Product List -->


           <section class="product-tabs section-padding position-relative wow fadeIn animated">
            <div class="bg-square"></div>
            <div class="container">
                <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                   
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three"
                                type="button" role="tab" aria-controls="tab-three" aria-selected="false">New
                                added</button>
                        </li>
                    </ul>
                    <a href="#" class="view-more d-none d-md-flex">View More<i
                            class="fi-rs-angle-double-small-right"></i></a>
                </div>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">


                            <% for (let i=0; i < products.length; i++) { %>

                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/productDetails?id=<%=products[i].id%>">
                                                    <img class="default-img"
                                                        src="/uploads/product-images/<%=products[i].productImage[0]%>" alt="">
                                                    
                                                </a>
                                            </div>
                                          
                                        </div>
                                        <div class="product-content-wrap">
                                           
                                            <h2><a href="products-product-right.html"><%-products[i].productName%></a></h2>
                                            <!-- <div class="rating-result" title="90%">
                                                <span>
                                                    <span>90%</span>
                                                </span>
                                            </div> -->
                                            <div class="product-price">
                                                <span>₹<%-products[i].salePrice.toLocaleString('en-IN')%> </span>
                                                <span class="old-price">₹<%-products[i].regularPrice.toLocaleString('en-IN')%></span>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up"
                                                href="/cart"><i
                                                        class="fi-rs-productsping-bag-add"></i></a>
                                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>


                        </div>
                    </div>
                </div>
            </div>
            <!--End product-grid-4-->
            </div>
            <!--En tab three (New added)-->
            </div>
            <!--End tab-content-->
            </div>
        </section>


        <%- include("../partial/footer") %>

      